#up {
    position: relative;
    margin-top: 0;
    ali
}
#down {
    position: relative;
    margin-top: 0;
}
#right {
    position: relative;
    margin-top: 0;
}
#left {
    position: relative;
    margin-top: 0;
}
.streamming {
    background-color: black;
    position: relative;
    height:480px;
    width:640px;
}
.control {
    color: white;
    background: rgba(247, 133, 13, 0.87);
    background-image: -webkit-linear-gradient(top, #ebcfa3, rgba(247, 133, 13, 0.87), rgba(247, 133, 13, 0.87));
    background-image: -moz-linear-gradient(top, #ebcfa3, rgba(247, 133, 13, 0.87), rgba(247, 133, 13, 0.87));
    background-image: -ms-linear-gradient(top, #ebcfa3, rgba(247, 133, 13, 0.87), rgba(247, 133, 13, 0.87));
    background-image: -o-linear-gradient(top, #ebcfa3, rgba(247, 133, 13, 0.87), rgba(247, 133, 13, 0.87));
    /*position: relative;*/
    padding: 10px 17px 10px 17px;
    font-size: 10rem;
}
